@model List<ECommerceMVC.Core.Models.Response.ProductResponseModel>

@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.</h1>
</div>

<h2 class="mt-4">En Çok Satılan 5 Ürün</h2>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Ürün Kodu</th>
            <th>Ürün Adı</th>
            <th>Kategori</th>
            <th>Birim Fiyatı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryName</td>
                <td>@item.UnitPrice.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>