@model ECommerceMVC.Core.Models.Response.HomeIndexViewModel
@using System.Text.Json;

@{
    var favoriteProducts = new List<ECommerceMVC.Core.Models.Response.ProductResponseModel>();
    var favoriteCookie = Context.Request.Cookies["FavoriteProducts"];
    if (!string.IsNullOrEmpty(favoriteCookie))
    {
        favoriteProducts = JsonSerializer.Deserialize<List<ECommerceMVC.Core.Models.Response.ProductResponseModel>>(favoriteCookie);
    }
}

<h4>Top 5 Satılan Ürünler</h4>
<div class="row mb-4">
    @foreach (var product in Model.TopSellingProducts)
    {
        @await Html.PartialAsync("_ProductCard", product)
    }
</div>

@if (favoriteProducts.Any())
{
    <h4>Favori Ürünleriniz</h4>
    <div class="row mb-4">
        @foreach (var product in favoriteProducts)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }
    </div>
}

<h4>Tüm Ürünler</h4>
<div class="row">
    @foreach (var product in Model.AllProducts)
    {
        @await Html.PartialAsync("_ProductCard", product)
    }
</div>
