@model ECommerceMVC.Core.Models.Response.HomeIndexViewModel

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h4>En Çok Satılan 5 Ürün</h4>
<div class="row mb-4">
    @foreach (var product in Model.TopSellingProducts)
    {
        @await Html.PartialAsync("_ProductCard", product, new ViewDataDictionary(ViewData)
        {
            { "FavoriteIds", Model.FavoriteIds }
        })
        }
</div>

<h4>Tüm Ürünler</h4>
<div class="row">
    @foreach (var product in Model.AllProducts)
    {
        @await Html.PartialAsync("_ProductCard", product, new ViewDataDictionary(ViewData)
        {
            { "FavoriteIds", Model.FavoriteIds }
        })
        }
</div>

<!-- Pagination -->
<nav aria-label="Sayfa Navigasyonu">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>
